/*  WEATHER
   ============================== */

@import '../../../assets/styles/colors';

.weather {

    > .container {
        margin-top: 0;

        > .top {
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
        }
    }

    .widget-current {
        text-align: right;
    }

    .search-box {
        flex-direction: column;
        position: relative;
        text-align: center;
    }

    input {
        border: 1px solid $tertiaryColor;

        &:focus,
        &:active {
            box-shadow: inset 0 0 0 1px $tertiaryColorActive;
        }
    }

    button {
        background-color: $tertiaryColor;

        &:hover,
        &:focus,
        &:active {
            background-color: $tertiaryColorActive;
        }
    }

    .error-messages {
        top: calc(50% + 52px);
        padding: 4px 8px;
        background-color: #ffffff80;
        border-radius: 10px;
    }
}

.weather .only-weather {
    display: inline;
}


/*  RESP
  ============================== */

@media screen and (max-width: 767px) {
    .widget-current {
        margin-top: 32px;
    }
}

@media screen and (min-width: 768px) {
    .weather > .container > .top {
        flex-direction: row;

        > section {
            width: 50%;
        }
    }
}