/*  CURRENT DAY
   ============================== */

@import '../../../assets/styles/colors';

.widget-current {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 0 1px black;

    .name {
        font-size: 64px;
        padding-bottom: 12px;
        line-height: 1;
    }

    .bottom {
        display: flex;
        align-items: center;
    }

    .temp {
        font-size: 48px;
        line-height: 1.2;
    }

    .weather-description {
        font-size: 38px;

        &:first-letter {
            text-transform: capitalize;
        }
    }
}

[class^=icon-current-] {
    width: 112px;
    margin-left: 24px;
    border-radius: 50%;
    box-shadow: 0 0 22px 4px white;

    &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
}

.icon-current-cloud {
    background-image: url(../../../assets/img/weather/current-cloud.svg);
}

.icon-current-few-clouds {
    background-image: url(../../../assets/img/weather/current-fewClouds.svg);
}

.icon-current-fog {
    background-image: url(../../../assets/img/weather/current-fog.svg);
}

.icon-current-rain {
    background-image: url(../../../assets/img/weather/current-rain.svg);
}

.icon-current-snow {
    background-image: url(../../../assets/img/weather/current-snow.svg);
}

.icon-current-sun {
    background-image: url(../../../assets/img/weather/current-sun.svg);
}

.icon-current-thunder {
    background-image: url(../../../assets/img/weather/current-thunder.svg);
}


/* RESP
   ============================== */

@media screen and (min-width: 480px) {
	.widget-current .bottom {
        align-items: end;
    }
}