/*  COW ABDUCTION
   ============================== */

.space-cow {
    position: absolute;
    bottom: 0;
    left: calc(15% + 10px);
    width: 60px;
    animation-name: space-cow;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}

.ufo {
    position: absolute;
    top: 10%;
    left: 105%;
    width: 80px;
    animation-name: ufo;
    animation-duration: 30s;
    animation-timing-function: cubic-bezier(.3, .2, .7, .8);
}

.green-ray {
    position: absolute;
    top: calc(10% + 45px);
    left: calc(15% + 8px);
    width: 64px;
    height: 0;
    opacity: .4;
    background-color: green;
    animation-name: green-ray;
    animation-duration: 30s;
}

@keyframes space-cow {
    0%   {opacity: 1;}
    58%  {opacity: 1;}
    67%  {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes ufo {
    0%   {left: 150%;}
    25%  {left: 150%;}
    50%  {left: 15%;}
    75%  {left: 15%;}
    100% {left: 150%;}
}

@keyframes green-ray {
    0%   {height: 0;}
    53%  {height: 0;}
    58%  {height: calc(90% - 45px);}
    67%  {height: calc(90% - 45px);}
    72%  {height: 0;}
    100% {height: 0;}
}