/*  HEADER
   ============================== */

@import '../../assets/styles/colors';

.header {
    display: flex;
    flex-shrink: 0;
    height: 60px;
    border-top: 2px solid $errorColor;

    > .container {
        flex-direction: row;

        > img {
            vertical-align: middle;
            width: 38px;
        }

        > div {
            margin: 0 16px;
        
            > p {
                margin: 0;
                line-height: 1.25;
                text-transform: uppercase;

                &:first-of-type {
                    font-size: 15px;
                    letter-spacing: .2px;
                }

                &:last-of-type {
                    font-size: 20px;
                    letter-spacing: 1px;
                }
            }
        }

        > p {
            margin: 0;
            text-align: right;
            flex-grow: 1;
            font-style: italic;
        }
    }
}