/*  HEADER
   ============================== */

@import '../../assets/styles/colors';

.header {
    display: flex;
    flex-shrink: 0;
    height: 60px;
    border-top: 2px solid $errorColor;

    > .container {
        flex-direction: row;

        > a {
            display: flex;
            margin: 0 16px;
            color: white;
            text-decoration: none;
            cursor: pointer;

            > img {
                width: 38px;
            }

            > div {
                margin: auto 0 auto 8px;

                > p {
                    margin: 0;
                    line-height: 1.25;
                    text-transform: uppercase;

                    &:first-of-type {
                        font-size: 15px;
                        letter-spacing: .2px;
                    }

                    &:last-of-type {
                        font-size: 20px;
                        letter-spacing: 1px;
                    }
                }
            }
        }

        > p {
            margin: 0;
            text-align: right;
            flex-grow: 1;
            font-style: italic;
        }
    }
}