/*  ENTRANCE
   ============================== */

@import '../../assets/styles/colors';

.entrance {
    justify-content: center;
    min-height: 460px;
    overflow: hidden;

    .search-box {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        min-width: 300px;
        width: 100%;
        max-width: 480px;
        background-image: url(../../assets/img/logoClouds.svg);
        background-position: bottom;
        background-repeat: no-repeat;

        &:after {
            content: '';
            display: block;
            padding-bottom: 87.640836638%; // <-- proportion of search-box bg pic (height/width)
        }
    }

    form {
        padding-bottom: 11%;
        text-align: center;
    }

    label {
        color: $secondaryColor;
    }

    input {
        border: 1px solid $secondaryColor;

        &:focus,
        &:active {
            box-shadow: inset 0 0 0 1px $secondaryColor;
        }
    }

    button {
        background-color: $secondaryColor;

        &:hover,
        &:focus,
        &:active {
            background-color: $secondaryColorActive;
        }
    }

    .error-messages {
        bottom: calc(11% - 28px);
        margin: 0;
    }

    &::before {
        content: '';
        position: absolute;
        width: 4269px;
        height: 4269px;
        top: 50%;
        margin-top: -2134.5px;
        left: 50%;
        margin-left: -2134.5px;
        background: url(../../assets/img/ray.svg) 0 0 no-repeat;
        border-radius: 50%;
        -webkit-animation: 5s ray ease-out;
        -moz-animation: 5s ray ease-out;
        -o-animation: 5s ray ease-out;
        animation: 5s ray ease-out;
        -webkit-animation-fill-mode: forwards;
    }
}

@-webkit-keyframes ray {
    to {
        -webkit-transform: rotate(30deg);
    }
}

@-moz-keyframes ray {
    to {
        -moz-transform: rotate(30deg);
    }
}

@-o-keyframes ray {
    to {
        -o-transform: rotate(30deg);
    }
}

@keyframes ray {
    to {
        transform: rotate(30deg);
    }
}

.entrance .only-entrance {
    display: inline;
}