/*  WEEK & DAY
   ============================== */

@import '../../../assets/styles/colors';

.chart-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 750px;
    max-width: 100%;
    margin-top: 48px;
    text-align: center;
    overflow: hidden;

    .top {
        display: flex;
    }

    [class^=icon-] {
        display: flex;
        align-items: center;
    }

    .description::first-letter {
        text-transform: uppercase;
    }
}

.forecast-week .forecast-element {
    cursor: pointer;

    .click-zone {
        content: '';
        position: absolute;
    }
}

.chart-temps text {
    transform: translateX(-3%);
    fill: $primaryColor;
    font-size: 26px;
}


/* RESP
   ============================== */

@media screen and (max-width: 767px) {
	.chart-box {
        width: auto;
        align-items: end;
        font-family: lobster2;

        .top {
            width: 100%;
            flex-direction: column;
        }

        .forecast-element {
            display: grid;
            position: relative;
            width: 100%;
            margin-bottom: 16px;
            font-size: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .day,
        .temp,
        .description,
        .hour {
            width: 140px;
            text-align: right;
        }

        .day {
            font-size: 42px;
        }

        .temp {
            grid-area: temp;
        }

        .description {
            grid-area: description;
        }

        [class^=icon-] {
            grid-area: icon;
            padding-left: 32px;
            font-size: 80px;
            justify-content: flex-end;
        }
    }

    .forecast-week {

        .forecast-element {
            grid-template-areas:
                'day icon'
                'temp icon'
                'description icon';
        }

        .day {
            grid-area: day;
        }

        .click-zone {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .forecast-day {

        .chart-box .day {
            text-align: center;
            width: 100%;
        }

        .forecast-element {
            grid-template-areas:
                'hour icon'
                'temp icon'
                'description icon';
        }

        .day {
            width: 100%;
            margin-bottom: 8px;
            font-size: 52px;
            text-align: center;
        }

        .hour {
            font-size: 32px;
        }
    }
}

@media screen and (min-width: 768px) {
	.chart-box {
        border: 2px solid $tertiaryColor;
        border-radius: 8px;

        .forecast-element {
            width: 20%;
        }

        .day {
            color: black;
            background-color: white;
            padding: 12px;
            font-size: 32px;
        }

        [class^=icon-] {
            height: 80px;
            font-size: 72px;
            justify-content: center;
            margin-top: 5px;
        }
    }

    .forecast-week {

        .forecast-element {

            &:nth-of-type(1) .click-zone {
                left: 0;
            }

            &:nth-of-type(2) .click-zone {
                left: 20%;
            }

            &:nth-of-type(3) .click-zone {
                left: 40%;
            }

            &:nth-of-type(4) .click-zone {
                left: 60%;
            }

            &:nth-of-type(5) .click-zone {
                left: 80%;
            }
        }

        .click-zone {
            top: 0;
            width: 20%;
            height: 100%;
        }
    }
}