/*  FOOTER
   ============================== */

@import '../../assets/styles/colors';

.footer {
    padding: 96px 0 48px;
    background-image: url(../../assets/img/grass.svg);
    background-size: auto 56px;
    background-repeat: repeat-x;

    > .container {

        > p {
            margin: 0;
        }

        > hr {
            width: 100%;
            margin: 42px 0;
            border-width: 0 0 1px;
        }

        > ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;

                > a {
                    color: $primaryColor;
                    transition: color .2s;

                    &:focus,
                    &:hover,
                    &:active {
                        color: $primaryColorActive;
                    }
                }

                &:not(:last-of-type):after {
                    content: '-';
                    margin: 0 12px;
                }
            }
        }
    }
}