/*  FOOTER
   ============================== */

@import '../../assets/styles/colors';

.footer {
    padding: 96px 0 48px;
    background-image: url(../../assets/img/grass.svg);
    background-size: auto 56px;
    background-repeat: repeat-x;

    > .container {

        > p {
            margin: 0;
        }

        > hr {
            width: 100%;
            margin: 42px 0;
            border-width: 0 0 1px;
        }

        > ul {
            margin: 0;
            padding: 0;
            text-align: center;
            list-style: none;

            li {
                display: inline;
                line-height: 2.6;

                &:not(:last-of-type):after {
                    content: "\A";
                    white-space: pre;
                }

                > a {
                    padding: 10px;
                    color: $primaryColor;
                    transition: color .2s;

                    &:focus,
                    &:hover,
                    &:active {
                        color: $primaryColorActive;
                    }
                }
            }
        }
    }
}


/*  RESP
  ============================== */

@media screen and (max-width: 479px) {
    .footer > .container > p {
        text-align: center;
    }
}

@media screen and (min-width: 480px) {
    .footer > .container > ul li:not(:last-of-type):nth-child(2n+1):after {
        content: '-';
        margin: 0 4px;
    }
}

@media screen and (min-width: 768px) {
    .footer > .container > ul li:not(:last-of-type):after {
        content: '-';
        margin: 0 4px;
    }
}