/*  WEEK & DAY
   ============================== */

@import '../../../assets/styles/colors';

.chart-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 750px;
    margin-top: 48px;
    text-align: center;
    border: 2px solid $tertiaryColor;
    border-radius: 8px;
    overflow: hidden;

    .day {
        width: 20%;
    }

    .name {
        color: black;
        background-color: white;
        padding: 12px;
        font-size: 32px;
        font-family: lobster2;
    }

    [class^=icon-] {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        font-size: 72px;
        margin-top: 5px;
    }

    .description::first-letter {
        text-transform: uppercase;
    }
}

.chart-temps text {
    transform: translateX(-3%);
    fill: white;
    font-size: 26px;
}

/*  WEEK ONLY */

.week-forecast {

    .day {
        cursor: pointer;

        &:nth-of-type(1) .click-zone {
            left: 0;
        }

        &:nth-of-type(2) .click-zone {
            left: 20%;
        }

        &:nth-of-type(3) .click-zone {
            left: 40%;
        }

        &:nth-of-type(4) .click-zone {
            left: 60%;
        }

        &:nth-of-type(5) .click-zone {
            left: 80%;
        }
    }

    .click-zone {
        content: '';
        position: absolute;
        top: 0;
        width: 20%;
        height: 100%;
    }
}