/*  COLORS
  ============================== */

$primaryColor: white;
$primaryColorActive: #a0a0a0;

$secondaryColor: #080;
$secondaryColorActive: #007a00;

$tertiaryColor: #c00;
$tertiaryColorActive: #900;

$primaryBgColor: #0a95ff;

$errorColor: red;