/* =================================
	CONNECT WEATHER
   ============================== */


/*  FONT-FACE
   ============================== */

/*! LOBSTER 2 */
@font-face {
	font-family:'lobster2';
	src:url('../fonts/lobstertwo-italic-webfont.woff2') format('woff2'),
		url('../fonts/lobstertwo-italic-webfont.woff') format('woff'),
		url('../fonts/lobstertwo-italic-webfont.ttf') format('truetype');
	font-weight:normal;
	font-style:italic;
}

/*! ICONS */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?fw3eh7');
    src: url('../fonts/icomoon.eot?fw3eh7#iefix') format('embedded-opentype'),
         url('../fonts/icomoon.ttf?fw3eh7') format('truetype'),
         url('../fonts/icomoon.woff?fw3eh7') format('woff'),
         url('../fonts/icomoon.svg?fw3eh7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^='icon-'], [class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.icon-cloud:before {
    content: '\e900';
}

.icon-few-clouds:before {
    content: '\e901';
}

.icon-fog:before {
    content: '\e902';
}

.icon-rain:before {
    content: '\e903';
}

.icon-snow:before {
    content: '\e904';
}

.icon-sun:before {
    content: '\e905';
}

.icon-thunder:before {
    content: '\e906';
}


/*  LAYOUT
   ============================== */

html {
	height: 100%;
	box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Normalize */
input,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

input {
	overflow: visible;
}

input:-ms-clear,
input:-ms-reveal {
    display: none;
}

input,
button {
    outline: 0;
}


/*  HEADER - FOOTER
   ============================== */

.header,
.footer {
    color: white;
    background-color: #191f24;
}

.header {
    line-height: 58px;
    border-top: 2px solid red;
}

.footer {
    background-image: url(../img/grass.svg);
    background-size: auto 56px;
    background-repeat: repeat-x;
    width: 100%;
    min-height: 156px;
}


/*  ENTRANCE
   ============================== */

.entrance {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    background-color: #29a2ff;
    box-shadow: inset 0 0 50px 0 rgba(59, 42, 42, 0.6),
                inset 0 50px 45px 0 rgba(0, 0, 0, 0.35);

    .search-box {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        min-width: 300px;
        width: 92%;
        max-width: 480px;
        background-image: url(../img/logoClouds.svg);
        background-position: bottom;
        background-repeat: no-repeat;

        &:after {
            content: '';
            display: block;
            padding-bottom: 87.640836638%;
        }
    }

    form {
        padding-bottom: 11%;
        text-align: center;

        > label {
            display: block;
            margin-bottom: 8px;
            font-family: lobster2;
            font-size: 42px;
            color: #009900;
            text-shadow: 1px 1px 1px #0033003b;
        }

        > div {
            height: 38px;
        }
    }

    input {
        width: 230px;
        height: 38px;
        padding: 8px;
        border: 1px solid #009900;
        border-radius: 19px;
        box-shadow: 0;
        transition: box-shadow .3s;

        &:focus,
        &:active {
            box-shadow: inset 0 0 0 1px #009900;
        }
    }

    button {
        height: 38px;
        margin-left: 8px;
        padding: 8px 12px;
        font-size: 14px;
        font-weight: 600;
        border: 0;
        background-color: #009900;
        color: white;
        border-radius: 19px;
        text-transform: uppercase;
        transition: all .3s;
        cursor: pointer;

        &:hover,
        &:focus,
        &:active {
            background-color: #007a00;
        }
    }

    .error-messages {
        position: absolute;
        bottom: calc(11% - 28px);
        margin: 0;
        color: red;
        font-weight: 600;
        text-decoration: underline;
        border-radius: 14px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 4269px;
        height: 4269px;
        top: 50%;
        margin-top: -2134.5px;
        left: 50%;
        margin-left: -2134.5px;
        background: url(../img/ray.svg) 0 0 no-repeat;
        border-radius: 50%;
        -webkit-animation: 5s ray ease-out;
        -moz-animation: 5s ray ease-out;
        -o-animation: 5s ray ease-out;
        animation: 5s ray ease-out;
        -webkit-animation-fill-mode: forwards;
    }
}

@-webkit-keyframes ray {
    to {
        -webkit-transform: rotate(30deg);
    }
}

@-moz-keyframes ray {
    to {
        -moz-transform: rotate(30deg);
    }
}

@-o-keyframes ray {
    to {
        -o-transform: rotate(30deg);
    }
}

@keyframes ray {
    to {
        transform: rotate(30deg);
    }
}
